body{
	min-width:1200px !important;
	font-family:'Helvetica';
    font-style:condensed;
	background:#fff !important;
	background-size:100%;
}
h1,h2,h3,h4,h5,p,span,div{
	font-family:'Helvetica';
    font-style:condensed;
}
.container{
	width: 1170px !important;
}
.header {
    padding: 20px;
	 border-bottom: 2px solid #333;
         background:#EFEFEF !important;
}
.navbar-inner.nav-menu {
    border-radius: 0 !important;
}
.nav-menu{
    font-weight:bold !important;
}
.navbar.navbar-inverse.navbar-top-fixed {
    position: fixed;
    width: 100%;
    z-index:99;
}
#content{
    padding:20px;
    margin:10px;
    border-top: 6px solid #f8931f !important;
      box-shadow: 0 0 10px #BBBBBB;
}

.navbar .nav {
    margin: 0 10px 0 40px;
    position: relative;
}
input[type="submit"] {
    background: none repeat scroll 0 0 #f8931f;
    border-radius: 0;
    color: #fff;
    height: 35px;
    margin: -10px 0 0 -5px;
    border:0px !important;
    padding:0 30px;
    font-weight:bold;
}
div.view {
    box-shadow: 0 0 10px #bbb;
    font-size: 14px !important;
    line-height: 30px;
    margin: 10px 0;
    padding: 10px;
}
.img_wrapper{
    padding:20px;
    margin: 30px 10px 0 10px;
}
#content h1 {
    color: #0088cc;
    font-size: 28px !important;
    text-transform: uppercase;
   
}

.title_header {
    background: none repeat scroll 0 0 #40affc;
    border-radius: 5px;
    color: #000;
    font-size: 16px;
    margin: 20px 0 -10px;
    padding: 10px;
}

.invi{
    display: none;
}
.fc-center h2 {
    font-size: 20px;
    margin-top: 30px;
}

#yw1 th {
    width: 180px;
}
.insert_log {
    text-align: left;
}
#insert_log_tf {
    border-radius: 0;
    height: 30px;
    margin-right: -4px;
    width: 560px !important;
}
#insert_log_btn {
    border-radius: 0;
    height: 40px;
    margin-top: -10px;
}
#progress_details_modal, #log_modal{
    width:700px;
    left:44%;
}
#log_modal .summary{
    display:none;
}
#log_modal .table {
    margin-top: -5px;
    font-weight:bold !important;
    font-size:14px;
}
#log_modal .table tr > td:first-child{
    width:150px;
}
#log_modal .table tr > td:first-child+td /* Second column */
{
  width:100px;
}

.dropdown-menu.sub_action a {
    font-size: 12px !important;
    font-weight: bold;
}
.submenu a {
    text-decoration:underline !important;
}

.follow_up input[type="text"] {
    border-radius: 0;
    width: 300px;
}
#follow_up_btn{
    border-radius: 0;
    margin-left: -4px;
    margin-top: -9px;
}
#consignment_btn {
    margin-top: -9px;
}
.btn-mini {
    height: 25px !important;
    margin: 10px 0 !important;
    width: 150px !important;
}
.facebox {
 
    /* overlay is hidden before loading */
    display:none;
 
    /* standard decorations */
    /*width:400px;*/
    border:10px solid #666;
 
    /* for modern browsers use semi-transparent color on the border. nice! */
    border:10px solid rgba(82, 82, 82, 0.698);
 
    /* hot CSS3 features for mozilla and webkit-based browsers (rounded borders) */
    -moz-border-radius:8px;
    -webkit-border-radius:8px;
  }
  div.view:hover{
            background:#eeeeee;
  }
  a div.view{
      color:#333 !important;
  }
  .navbar-inverse .nav .active > a, .navbar-inverse .nav .active > a:hover, .navbar-inverse .nav .active > a:focus {
    background-color: #f77f06;
    color: #ffffff;
}
.navbar-inverse .navbar-inner {
    background-color: #1b1b1b;
    background-image: linear-gradient(to bottom, #f3f2f2, #fff);
    background-repeat: repeat-x;
    border-color: #f1f1f1;
}

.navbar-inverse .brand, .navbar-inverse .nav > li > a {
    color: #333;
    text-shadow: none !important;
}
.navbar-inverse .brand, .navbar-inverse .nav > li > a:hover {
    color: #333;
    text-shadow: none !important;
}
.unstyled > li {
    line-height: 30px;
}

.unstyled > li b {
    color: #555 !important;
}
.form label {
    float: left;
    width: 150px;
}