.errorSummary
{
	border: 2px solid #C00;
	padding: 7px 7px 12px 7px;
	margin: 0 0 20px 0;
	background: #FEE;
	font-size: 0.9em;
}

.errorSummary ul
{
	margin: 0;
	padding: 0 0 0 20px;
}
.errorSummary p
{
	margin: 0;
	padding: 5px;
}
.errorSummary li {
    font-size: 14px;
}
input.error, textarea.error, select.error {
    margin-bottom:1rem !important;
}
.green {
    color: green;
}
.option-menu.selected{
    border: 1px solid #934833;
}
.option-menu {
    
    border-radius: 8px;
    margin: 0 5px;
    padding: 5px !important;
}
.close {
    cursor: pointer;
    float: right;
    position: relative;
    top: -10px;
}
.close:hover{
    text-decoration:underline;
}
.divider {
    color: grey;
    font-weight: bold;
    padding: 10px 5px 0;
    text-align: center;
}
.divider hr {
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
    width: 43%;
}
.left {
    float: left;
}
.right {
    float: right;
}
.create_new {
    font-size: 16px !important;
    padding: 12px !important;
    width: 100%;
}
#hover {
    background: none repeat scroll 0 0 #fff;
    width: 220px;
}
#hover li{
    margin:0px !important;
    padding:0px !important;
}
#hover li a {
    margin: 5px 0;
    text-align: left;
    border-bottom:1px solid #eee;  
}
.write_review{
    display:none;
}
#review-td:hover .write_review{
    display:block;
}
.invi{
    display:none;
}