/********

     s                                              .x+=:.   
    :8                                ..           z`    ^%  
   .88           u.      u.    u.    @L               .   <k 
  :888ooo  ...ue888b   x@88k u@88c. 9888i   .dL     .@8Ned8" 
-*8888888  888R Y888r ^"8888""8888" `Y888k:*888.  .@^%8888"  
  8888     888R I888>   8888  888R    888E  888I x88:  `)8b. 
  8888     888R I888>   8888  888R    888E  888I 8888N=*8888 
  8888     888R I888>   8888  888R    888E  888I  %8"    R88 
 .8888Lu= u8888cJ888    8888  888R    888E  888I   @8Wou 9%  
 ^%888*    "*888*P"    "*88*" 8888"  x888N><888' .888888P`   
   'Y"       'Y"         ""   'Y"     "88"  888  `   ^"F     
                                            88F              
                                           98"               
                                         ./"                 
                                        ~`                   







********/

@import url(http://fonts.googleapis.com/css?family=Lato:400,700);
body {
	font-family: "Lato", sans-serif;
	color: #474645;
	font-size: 14px
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: Lato, sans-serif;
}

.row {
	max-width: 1000px
}

.full {
	width: 100%;
	max-width: 1500px;
	margin-left: auto;
	margin-right: auto;
	position: relative;
}

.row.full {
	max-width: 100%
}

p,
li {
	font-size: 14px;
}

.nopadd {
	padding: 0;
}

.nopadd-right {
	padding-right: 0
}

.nopadd-left {
	padding-left: 0
}

.ptop25 {
	padding-top: 25px
}

.mtop20 {
	margin-top: 20px!important;
}

.mtop30 {
	margin-top: 30px!important;
}

.mtop50 {
	margin-top: 50px!important;
}

.container {
	min-width: 1170px;
}

.full {
	width: 100%;
}

.bg-orange {
	background: #f8931f;
	padding: 15px;
	color: #fff;
}

.bg-black {
	background: #454545;
	padding: 15px;
	color: #fff;
}

.bg-da {
	background: #dadada;
	padding: 15px;
	color: #fff
}

.bg-grey {
	background: #828282;
	padding: 15px;
	color: #fff
}

.orange {
	color: #f8931f;
}

.black {
	color: #454545;
}

img {
	max-width: 100%
}
/*header*/

.button {
	font-family: Lato, sans-serif;
}

.site-header {
	padding-top: 20px;
}

.med {
	padding: 10px 15px;
	font-size: 15px
}

.button.orange {
	color: #fff;
	font-weight: bold;
	background-color: #f8931f;
	border-color: #f8931f;
}

.button.black {
	color: #fff;
	font-weight: bold;
	background-color: #454545;
	border-color: #454545;
}

.button.white {
	color: #000;
	font-weight: bold;
	background-color: #fff;
	border-color: #fff;
}

.button.grey {
	color: #000;
	font-weight: bold;
	background-color: #e6e6e6;
	border-color: #e6e6e6;
}

.button.blue {
	background: #0b70be;
	color: #fff;
}

.button.green {
	background: #55b33f;
	color: #fff;
}

.button.apply {
	background: #55b33f;
	color: #fff;
	font-size: 11px;
	border-radius: 8px
}

.button.blue-muda {
	background: #8db4e5;
	color: #fff;
}

.button.no-style {
	background: #ecedf1;
	color: #000;
	padding: 4px;
	border: 1px solid #bcbcbe;
	font-size: 12px;
}

.button.w180 {
	width: 180px
}

.button.w170 {
	width: 170px
}

.button.full {
	width: 100%
}

button.tiny,
.button.tiny {
	padding-top: 0.525rem;
	padding-right: 1.25rem;
	padding-bottom: 0.5875rem;
	padding-left: 1.25rem;
	font-size: 0.7875rem;
}

.button.radius {
	border-radius: 5px
}

.button.with-arrow {
	border-radius: 5px 0 0 5px
}

.button.arrow {
	border-radius: 0 5px 5px 0;
	margin-left: -3px;
	padding: 0.525rem 0.5rem 0.5875rem;
}
/*main nav*/

.main-navigation {
	margin-top: 0px;
}

.main-navigation ul {
	list-style-type: none;
	font-size: 14px
}

.main-navigation li {
	display: inline;
	padding: 21px 6px;
	position: relative
}

.main-navigation li > .launch {
	position: absolute;
	top: 42px;
	left: 50%;
	margin-left: -56px;
	background: #FF001B;
	color: #fff;
	text-align: center;
	padding: 3px 15px;
	border-radius: 8px;
	font-size: 12px;
}

.main-navigation li:hover {
	border-bottom: 2px solid #f8931f;
}

.main-navigation li a {
	color: #9a9a9a;
}

.main-navigation li a:hover {
	color: #f8931f;
	text-decoration: none
}

.left-off-canvas-menu {
	background: #fff;
}

ul.mmenu {
	list-style-type: none;
	font-size: 14px;
	margin-left: 0;
}

ul.mmenu li {
	border-bottom: 1px solid #ccc;
	padding: 5px 0
}

ul.mmenu li a {
	color: #9a9a9a;
	padding-left: 10px
}

.header-line {
	border-top: 1px solid #f1f1f1;
	width: 100%;
}

#slider {
	margin-top: 15px
}

#slider img {
	width: 100%;
}

.compare .btn {
	width: 170px;
	margin-top: 10px;
}

.home ul {
	list-style-type: none;
	padding-left: 0px;
}

.home li:before {
	content: "> ";
	color: #f8931f;
	font-weight: bold
}
/*footer*/

footer ul {
	list-style-type: none;
	margin-left: 0
}

footer li {
	font-size: 14px;
	padding: 3px
}

.main-footer {
	background: #ededed;
	padding: 15px 0px;
	line-height: 30px
}

.main-footer .orange {
	margin-bottom: 50px
}

.main-footer ul {
	margin-top: 15px
}

.socmed {
	margin-top: 15px
}

.socmed img {
	width: 28px
}

.main-footer a {
	color: #474645
}

.main-footer .btn {
	margin-top: 7px
}

.second-footer {
	background: #fff;
	margin: 20px 0
}

.second-footer img {
	width: 180px
}

.testi-grey {
	background: #e6e6e6;
	padding: 15px
}

.testi-white {
	background: #fff;
	padding: 15px
}

.page-title {
	background: #828282;
	color: #fff;
	text-align: center;
}

.page-title h1 small {
	color: #fff;
	font-size: 50%;
	font-weight: normal
}

.page-title.consumer {
	background: #6ba406;
}

.page-title img {
	margin-top: -21px;
	margin-right: 20px
}

.page-title h1 {
	font-size: 40px;
	font-weight: bold;
	color: #fff;
	display: inline
}

.content {
	padding: 30px 0 50px 0
}

.content h2 {
	font-size: 30px;
	font-weight: bold;
}

.box-membership {
	background: #f1f1f1;
	border: 1px solid #e7e7e7;
	padding: 15px;
	text-align: center;
}

.box-membership p {
	text-align: left
}

.box-membership h2 {
	font-size: 25px;
	margin-top: 30px;
}

.signup-wrapper {
	-webkit-box-shadow: 0px -1px 10px 0px rgba(50, 50, 50, 0.75);
	-moz-box-shadow: 0px -1px 10px 0px rgba(50, 50, 50, 0.75);
	box-shadow: 0px -1px 10px 0px rgba(50, 50, 50, 0.75);
	background: #fff;
	padding: 30px;
}

.signup-wrapper h3 {
	font-size: 23px;
	color: #f8931f;
	display: inline
}

.signup-wrapper a {
	color: #f8931f
}

.form-title img {
	margin-top: -8px
}

.post {
	border-bottom: 1px solid #b3b3b3;
	padding: 15px 0;
}

.post-date {
	color: #f8931f;
	font-weight: bold;
}

.box-invite {
	background: #f1f1f1;
	border: 1px solid #e7e7e7;
	padding: 30px;
	text-align: center;
}

.box-invite p {
	text-align: left
}

.box-invite p img {
	margin-right: 10px;
	width: 25px
}

.box-invite h2 {
	font-size: 25px;
	margin: 30px 0;
}

.login {
	background: url(../images/bg-login.png);
	padding: 20px
}

.bg-account {
	background: url(../images/bg-account.png);
}

.title-border {
	background: #e4e4e4;
	width: 100%;
	height: 10px;
	margin-top: 25px;
}

.page-title-member {
	color: #828282;
	text-align: center;
}

.compare-title {
	padding-top: 30px
}

.compare-title img {
	margin-top: -20px
}

.compare-title h1 {
	color: #828282;
	font-size: 40px;
	font-weight: 700;
	display: inline
}

.compare-title select {
	width: 97%
}

.page-title-member img {
	margin-top: -21px;
	margin-right: 20px
}

.page-title-member h1 {
	font-size: 38px;
	font-weight: bold;
	color: #828282;
	display: inline
}

.switch input:checked + label {
	background: green;
}

.list-reward {
	border-bottom: 1px solid #ccc;
	padding: 15px
}

.slider {
	margin-top: 20px;
	padding: 10px;
	background: #fff;
	-webkit-box-shadow: 0px 0px 8px 0px rgba(50, 50, 50, 0.75);
	-moz-box-shadow: 0px 0px 8px 0px rgba(50, 50, 50, 0.75);
	box-shadow: 0px 0px 8px 0px rgba(50, 50, 50, 0.75);
}

table.compare {
	margin-top: 20px;
	border-spacing: 0;
	border-collapse: collapse;
}

table.compare th {
	padding: 10px;
	border: 1px solid #ccc;
}

table.compare td {
	padding: 10px;
	font-size: 12px;
	border: 1px solid #ccc;
	border-collapse: collapse;
	border-spacing: 0;
}

table.compare tr:nth-of-type(even) {
	background: #fff;
}

img.hide-all {
	cursor: pointer;
}

img.unhide {
	cursor: pointer;
}

img-hide-it {
	cursor: pointer
}

.shadow-wrapper {
	-webkit-box-shadow: 0px 0px 8px 0px rgba(50, 50, 50, 0.75);
	-moz-box-shadow: 0px 0px 8px 0px rgba(50, 50, 50, 0.75);
	box-shadow: 0px 0px 8px 0px rgba(50, 50, 50, 0.75);
	padding: 15px;
	background: #fff;
}

.shadow-wrapper h3 {
	display: inline;
	color: #f8931f;
	font-weight: bold;
	font-size: 22px;
	margin: 4px 0 15px 5px
}

.title-orange {
	background: #f8931f;
	padding: 5px;
	color: #fff;
}

.title-da {
	background: #dadada;
	padding: 5px;
	color: #fff
}

.title-grey {
	background: #828282;
	padding: 5px;
	color: #fff
}

.mtop5 {
	margin-top: 5px!Important;
}

.mtop10 {
	margin-top: 10px!important;
}

.border-wrapper {
	border: 1px solid #ccc;
	padding: 10px;
}

.guidance-menu {
	margin-top: 20px;
}

.gmenu {
	background: #e4e4e4;
	padding: 8px;
	border-radius: 8px;
	text-align: center
}

.gmenu a {
	color: #828282
}

.gmenu.selected {
	background: #f7931d
}

.gmenu.selected a {
	color: #fff
}

@media screen and (max-width: 360px) {
	.left-off-canvas-toggle.show-for-small-only {
		display: inline!important;
		margin-right: 5px
	}
}

.list-consultant {
	margin-top: 20px;
}

ul.list-consultant li {
	color: #828282;
	font-size: 13px
}

.list-consultant small {
	color: #828282;
	font-weight: bold;
	font-size: 12px
}

img.consultant-img {
	width: 100%
}

ul.sub-menu {
	list-style-type: none;
	margin-left: 0
}

.sub-menu li {
	border: 1px solid #ccc;
	padding: 10px;
	border-radius: 10px;
	margin: 5px 0;
	text-align: center
}

.sub-menu li a {
	color: #828282;
}

.headline h4 {
	display: inline-block;
	font-size: 22px;
	margin-bottom: 20px;
	color: #f8931f
}

.questions input[type="checkbox"] {
	margin-bottom: 5px;
	margin-left: 20px
}

.tutorial-box {
	position: relative;
	background: #fff;
	border: 3px solid #fd7f28;
	padding: 15px;
}

.tutorial-box:after,
.tutorial-box:before {
	bottom: 100%;
	left: 50%;
	border: solid transparent;
	content: " ";
	height: 0;
	width: 0;
	position: absolute;
	pointer-events: none;
}

.tutorial-box:after {
	border-color: rgba(255, 255, 255, 0);
	border-bottom-color: #fff;
	border-width: 10px;
	margin-left: -10px;
}

.tutorial-box:before {
	border-color: rgba(253, 127, 40, 0);
	border-bottom-color: #fd7f28;
	border-width: 16px;
	margin-left: -16px;
}

.tutorial-box.guidance:after,
.tutorial-box.guidance:before {
	left: 80px;
}

.tutorial-box.about:after,
.tutorial-box.about:before {
	left: 280px;
}

.tutorial-box.account:after,
.tutorial-box.account:before {
	left: 480px;
}

.tutorial-box.rewards:after,
.tutorial-box.rewards:before {
	left: 680px;
}

.tutorial-box.compare:after,
.tutorial-box.compare:before {
	left: 880px;
}

.new-member li>img {
	cursor: pointer
}

.review-icon {
	padding: 0 20px 10px
}
/**Div containing the color of the stars */

.jRatingAverage {
	background-color: #f62929;
	position: relative;
	top: 0;
	left: 0;
	z-index: 2;
	height: 100%;
}

.jRatingColor {
	background-color: #f4c239;
	/* bgcolor of the stars*/
	
	position: relative;
	top: 0;
	left: 0;
	z-index: 2;
	height: 100%;
}
/** Div containing the stars **/

.jStar {
	position: relative;
	left: 0;
	z-index: 3;
}
/** P containing the rate informations **/

p.jRatingInfos {
	position: absolute;
	z-index: 9999;
	color: #FFF;
	display: none;
	width: 91px;
	height: 29px;
	font-size: 16px;
	text-align: center;
	padding-top: 5px;
}

p.jRatingInfos span.maxRate {
	color: #c9c9c9;
	font-size: 14px;
}

.slider li {
	position: relative;
}

.action-button {
	position: absolute;
	top: 70%;
	left: 60%
}

.putih {
	color: #fff;
}

input[type="text"].age {
	border-radius: 12px
}

.ijo {
	color: #6ba406
}

.summ {
	font-size: 12px
}

.summ img {
	height: 35px;
}

input[type="number"].aboutmec {
	border-radius: 12px;
	display: inline;
	width: 100px
}

input[type="number"].aboutme {
	border-radius: 12px;
	display: inline
}

.radius-wrapper {
	border: 1px solid #ddd;
	padding: 10px;
	border-radius: 12px
}

.radius-wrapper input[type="text"] {
	border: 1px solid #ddd;
	border-radius: 10px;
	color: #376fb6;
	margin: 0 0 5px 0
}

input[type="range"] {
	max-width: 100%;
	width: 100%
}

.w70 {
	width: 65%!important;
	display: inline!important
}

.about-menu ul {
	list-style-type: none;
	margin-left: 0
}

.about-menu li {
	display: inline-block;
	font-weight: bold;
	margin-right: 5px
}

.about-menu .gmenu {
	padding: 8px 16px
}

#img1
{
	max-width: 20%;
}