body
{
	margin: 0;
	padding: 0;
	color: #555;
	font: normal 10pt Arial,Helvetica,sans-serif;
	/*background: #EFEFEF;*/
}

#page
{
	margin-top: 5px;
	margin-bottom: 5px;
	background: white;
	border: 1px solid #C9E0ED;
}

#header
{
	margin: 0;
	padding: 0;
	border-top: 3px solid #C9E0ED;
}



#content {
    margin-top: 10px;
    min-height: 350px;
}

#sidebar
{
	padding: 10px 20px 20px 0;
        width:250px;
}
#footer
{
	padding: 10px;
	margin: 10px 20px;
	font-size: 0.8em;
	text-align: center;
	border-top: 1px solid #C9E0ED;
}

#logo
{
	padding: 10px 20px;
	font-size: 200%;
}

#mainmenu
{
	background:white url(bg.gif) repeat-x left top;
}

#mainmenu ul
{
	padding:6px 20px 5px 20px;
	margin:0px;
}

#mainmenu ul li
{
	display: inline;
}

#mainmenu ul li a
{
	color:#ffffff;
	background-color:transparent;
	font-size:12px;
	font-weight:bold;
	text-decoration:none;
	padding:5px 8px;
}

#mainmenu ul li a:hover, #mainmenu ul li.active a
{
	color: #6399cd;
	text-decoration:underline;
}

div.flash-error, div.flash-notice, div.flash-success
{
	padding:.8em;
	margin-bottom:1em;
	border:2px solid #ddd;
}

div.flash-error
{
	background:#FBE3E4;
	color:#8a1f11;
	border-color:#FBC2C4;
}

div.flash-notice
{
	background:#FFF6BF;
	color:#514721;
	border-color:#FFD324;
}

div.flash-success
{
	background:#E6EFC2;
	color:#264409;
	border-color:#C6D880;
}

div.flash-error a
{
	color:#8a1f11;
}

div.flash-notice a
{
	color:#514721;
}

div.flash-success a
{
	color:#264409;
}

div.form .rememberMe label
{
	display: inline;
}

div.view
{
	padding: 10px;
	margin: 10px 0;
        font-size:14px;
        box-shadow: 0 0 10px #bbb;
}

div.breadcrumbs
{
	font-size: 0.9em;
	padding: 5px 20px;
}

div.breadcrumbs span
{
	font-weight: bold;
}

div.search-form
{
	padding: 10px;
	margin: 10px 0;
	background: #eee;
}

.portlet
{

}

.portlet-decoration
{
	padding: 3px 8px;
	border-bottom:2px solid #ccc;
}

.portlet-title
{
	font-size: 18px;
	font-weight: bold;
	padding: 0;
	margin: 0;
	color: #333;
        margin-left:10px;
}


.portlet-content {
    font-size: 0.9em;
    margin: 0 0 15px;
    opacity: 0.8;
    padding: 5px 8px;
}

.portlet-content ul
{
	list-style-image:none;
	list-style-position:outside;
	list-style-type:none;
	margin: 0;
	padding: 0;
}

.portlet-content li
{
	padding: 2px 0 4px 0px;
}

.operations
{
	list-style-type: none;
	margin: 0;
	padding: 0;
}

.operations li
{
	padding-bottom: 2px;
        margin-bottom:-7px;
}
.operations li:last-child{
    border-bottom:none;
}
.operations li a
{
	color: #333;
	display: block;
	padding: 10px;
	line-height: 15px;
	text-decoration: none;
        font-size:13px;
        font-weight:bold;
}
.operations li a:visited
{
	color: #0066A4;
}

.operations li a:hover
{
	text-decoration: underline;
}
.table.admin{
    background:#fff;
}
.table.admin td{
    padding:15px;
}

.divider {
    border-bottom: 1px solid #e8e7e7;
    margin: 5px 0;
    padding: 5px;
    width: 98%;
}