@import url(http://fonts.googleapis.com/css?family=Lato:400,700);

body{font-family: 'Lato', sans-serif;color:#474645}
p{font-size:15px;}
.nopadd{padding:0;}
.nopadd-right{padding-right: 0}
.nopadd-left{padding-left: 0}
.ptop25{padding-top: 25px}
.mtop30{margin-top:30px;}
.mtop50{margin-top:50px;}
.container{min-width:1170px;}
.container-full{width:100%;}
.bg-orange{background:#f8931f;padding:15px;color:#fff; }
.bg-black{background:#454545;padding:15px;color:#fff;}
.orange{color:#f8931f;}
.black{color:#454545;}
img{max-width: 100%}


/*header*/
.site-header{padding-top:20px;}
.btn-orange{
	color: #fff;
	font-weight: bold;
	background-color: #f8931f;
	border-color: #f8931f;
}
a.btn-orange:hover{color:#fff;}
.btn-black{
	color: #fff;
	font-weight: bold;
	background-color: #454545;
	border-color: #454545;
}
a.btn-black:hover{color:#fff;}
.btn-white{
	color: #000;
	font-weight: bold;
	background-color: #fff;
	border-color: #fff;
}
a.btn-white:hover{color:#000;}
.btn-grey{
	color: #000;
	font-weight: bold;
	background-color: #e6e6e6;
	border-color: #e6e6e6;
}
a.btn-grey:hover{color:#000;}


/*main nav*/
.main-navigation{margin-top:10px;}
.main-navigation ul{list-style-type: none}
.main-navigation li{display:inline;padding:21px 15px;}
.main-navigation li:last-child{;padding:21px 0px 21px 15px;}
.main-navigation li:hover{border-bottom:2px solid #f8931f;}
.main-navigation li a{color:#9a9a9a;}
.main-navigation li a:hover{color:#f8931f;text-decoration: none}
.header-line{border-top:1px solid #f1f1f1;width:100%;margin-top:10px;}

#slider{margin-bottom:-20px;}
#slider img{width:100%;}

.compare .btn{width:170px;margin-top:10px;}
.home ul{list-style-type:none;padding-left:0px;}
.home li:before{content:"> ";color:#f8931f;font-weight: bold}

/*footer*/
.main-footer{margin-top: 20px}